.home {
  background: url(../img/jumbo-bg.jpg) no-repeat center center fixed;
  width: 100vw;
  flex: 1; /* FLEX */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .jumbotron {
    width: 70%;
  }
}
