/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* BOOTSTRAP */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* VARIABLES */
@import 'variables';

/* COMPONENT STYLESHEETS */
@import 'index';
@import 'nav';
@import 'footer';

* {
  box-sizing: border-box;
  // margin: 0;

  body {
    font-family: 'Lato', sans-serif;

    .App {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
